.trend {
	fill: none;
	stroke-width: 1.5px;
}
.s.trend, .s.legend {
	stroke: red;
}
.d.trend, .d.legend {
	stroke: green;
}
.c.trend, .c.legend {
	stroke: blue;
}
.z.trend, .z.legend {
	stroke: orange;
}
.s.legend {
	fill: red;
}
.d.legend {
	fill: green;
}
.c.legend {
	fill: blue;
}
.z.legend {
	fill: orange;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.label {
	font-size: larger;
	font-weight: bold;
}
.title {
	font-size: x-large;
	font-weight: bold;
}
